body, .calculator, .display, .buttons, .btn, .row{
    display: flex;
    border-style: solid;
    border-width: 3px;
}

body {
    justify-content: center;
    align-items: center;
    border-color: blue;
}

.calculator {
    width: 400px;
    height: 500px;
    justify-content: center;
    border-color: black;
    flex-direction: column;
}

.display {
    flex: 1;
    border-color: green;
}

.buttons {
    flex-direction: column;
    flex: 4;
    border-color: red;
    justify-content: stretch;
}

.btn {
    font-size: 24px;
    font-weight: bold;
    border-color: yellow;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
}

.row {
    flex-basis: 20%;
}

#zero {
    flex-basis: 50%;
}