.calculator, .display, .buttons, .btn, .row {
    display: flex;
}

html {
    display: flex;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    flex: 1;
    flex-grow: 1;
}

.calculator {
    width: 400px;
    height: 500px;
    padding: 10px;
    padding-bottom: 3px;
    background-color: gray;
    justify-content: center;
    flex-direction: column;
}

.display {
    flex: 1;
    font-family: "digital-font";
    font-size: 72px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    background-color: lightgray
}

.buttons {
    flex-direction: column;
    flex: 5;
    justify-content: stretch;
    padding: 5px;
}

.btn {
    font-size: 24px;
    font-weight: bold;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.row {
    flex-basis: 20%;
}

#zero {
    flex-basis: 50%;
}

@font-face {
    font-family: "digital-font";
    src: url(digital-7/digital-7.ttf);
}

.number {
    background-color: green;
}

.operator {
    background-color: orange;
}

.special {
    background-color: lightblue;
}